<!DOCTYPE HTML>
<html lang="th">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MyPort Source - Official Site</title>
    <link rel="shortcut icon" href="~/Content/images/user.png" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="inaMuFrLFuGKqgD-RuChn8d2F6olcMImfGCAKIuiDiY" />

    <!-- Animate.css -->
    <link rel="stylesheet" href="~/Content/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/icomoon@1.0.0/style.min.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
    <!-- Flexslider  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flexslider@2.7.2/flexslider.css">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/owl.carousel@2.3.4/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/owl.carousel@2.3.4/dist/assets/owl.theme.default.min.css">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flag-icon-css@3.5.0/css/flag-icon.css">
    <!-- Theme style  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">

    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/icomoon@1.0.0/style.min.css">
    <!-- Modernizr JS -->
    <link rel="stylesheet" href="~/Content/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@9.15.3/dist/sweetalert2.min.css">
    <!-- FOR IE9 below -->
    <script src="https://cdn.jsdelivr.net/npm/respond.min.js@1.4.2/respond.min.js"></script>

    <style>
        .checked {
            color: orange;
        }
    </style>

</head>
<body class="fade-in">
    <div id="colorlib-page">
        <div class="container-wrap">
            <a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
            <aside id="colorlib-aside" role="complementary" class="fade-in border js-fullheight" data-animate-effect="fadeInLeft">
                <div class="text-center">
                    <div class="author-img" style="background-image: url(/Content/images/author-1.png);"></div>
                    <h1 id="colorlib-logo"><a>Chinnathorn Promnaruritr</a></h1>
                    <span class="position"><a>Junior Web Developer</a> in Thailand</span>
                </div>
                <nav id="colorlib-main-menu" role="navigation" class="navbar">
                    <div id="navbar" class="collapse">
                        <ul>
                            <li class="active"><a href="#" data-nav-section="home">Home</a></li>
                            <li><a href="#" data-nav-section="about">Profile</a></li>
                            <li><a href="#" data-nav-section="education">Education</a></li>
                            <li><a href="#" data-nav-section="skill">Skills</a></li>
                            <li><a href="#" data-nav-section="internship">Internship Experience</a></li>
                            <li><a href="#" data-nav-section="portfolio">Portfolio</a></li>
                            <li><a href="#" data-nav-section="favorite">Favorite</a></li>
                            <li><a href="#" data-nav-section="contact">Contact</a></li>
                            <li><a id="changelang" href="" data-toggle="tooltip" data-placement="bottom" title="Click here to change language"><span class="flag-icon flag-icon-us"></span> <b>ENGLISH</b></a></li>
                        </ul>
                    </div>
                </nav>
            </aside>

            <div id="colorlib-main" class="fade-in">
                <section id="colorlib-hero" class="js-fullheight" data-section="home">
                    <div class="flexslider js-fullheight">
                        <ul class="slides">
                            <li style="background-image: url(/Content/images/Background.jpg);">
                                <div class="overlay"></div>
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-6 col-md-offset-3 col-md-pull-3 col-sm-12 col-xs-12 js-fullheight slider-text">
                                            <div class="slider-text-inner js-fullheight">
                                                <div class="desc">
                                                    <h1>Hi! I'm Chinnathorn.</h1>
                                                    <h2>I'm a Junior Programmer who find new experience.</h2>
                                                    <p><a href="" class="btn btn-primary btn-learn">Download CV</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li style="background-image: url(/Content/images/Background1.jpg);">
                                <div class="overlay"></div>
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-6 col-md-offset-3 col-md-pull-3 col-sm-12 col-xs-12 js-fullheight slider-text">
                                            <div class="slider-text-inner">
                                                <div class="desc">
                                                    <h1>I'm a New-Gen Web Developer.</h1>
                                                    <h2>I believed that Developer have own target. Same as I who want to earn more skill in addition to something which already known.</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>

                <section class="colorlib-about" data-section="about">
                    <div class="colorlib-narrow-content">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row row-bottom-padded-sm animate-box" data-animate-effect="fadeInLeft">
                                    <div class="col-md-12">
                                        <div class="about-desc">
                                            <span class="heading-meta">About Us</span>
                                            <h2 class="colorlib-heading">Who Am I?</h2>
                                            <p><strong>Hi I'm Chinnathorn Promnaruritr</strong> I'm a Programmer which want to find new experience for my occupation. So that I find new job which gives an opportunity for the new generation (fresh graduated student) to learn and improve my programming skill and expect to give the great programming that helpful for your business.</p>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="about-desc">
                                            <h2 class="colorlib-heading">My Working LifeStyle</h2>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 animate-box" data-animate-effect="fadeInLeft">
                                            <div class="services color-1">
                                                <span class="icon2"><i class="fas fa-user-plus fa-2x"></i></span>
                                                <h3>Positive attitude and open mind.</h3>
                                            </div>
                                        </div>
                                        <div class="col-md-4 animate-box" data-animate-effect="fadeInTop">
                                            <div class="services color-2">
                                                <span class="icon2"><i class="fas fa-user-clock fa-2x"></i></span>
                                                <h3>Pleasant personality, highly adaptive and flexible.</h3>
                                            </div>
                                        </div>
                                        <div class="col-md-4 animate-box" data-animate-effect="fadeInRight">
                                            <div class="services color-3">
                                                <span class="icon2"><i class="fas fa-users fa-2x"></i></span>
                                                <h3>Team orientated.</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="colorlib-education" data-section="education">
                    <div class="colorlib-narrow-content">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
                                <span class="heading-meta">Education History (Click card to expand more)</span>
                                <h2 class="colorlib-heading animate-box">Education</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
                                <div class="fancy-collapse-panel">
                                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="headingOne">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseTwo">
                                                        <i class="fas fa-graduation-cap"></i>   Bachelor Degree of Business Computer
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                                <div class="panel-body">
                                                    <div class="col-md-4">
                                                        <figure>
                                                            <a href="" class="wrap text-center"><img src="~/Content/images/school.jpg" width="150" alt="Image" class="img-fluid"></a>
                                                        </figure>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <p><strong>Faculty Name: </strong>Faculty of Management Science</p>
                                                        <p><strong>Institude Name: </strong>University</p>
                                                        <p><strong>Location: </strong>Itsarapap Rd., Bangkok, Thailand</p>
                                                        <p><strong>Gradulated GPA: </strong>4.00 <a href="">View transcript</a></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="headingTwo">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseFive">
                                                        <i class="fas fa-school"></i>   High School Secondary Education of Math - English
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                                <div class="panel-body">
                                                    <div class="col-md-4">
                                                        <figure>
                                                            <a href="" class="wrap text-center"><img src="~/Content/images/school.jpg" width="150" alt="Image" class="img-fluid"></a>
                                                        </figure>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <p><strong>Faculty Name: </strong>Bilingual Program</p>
                                                        <p><strong>Institude Name: </strong>High School</p>
                                                        <p><strong>Location: </strong>Bangbon, Bangkok, Thailand</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="colorlib-skill" data-section="skill">
                    <div class="colorlib-narrow-content">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
                                <span class="heading-meta">Programming Skill</span>
                                <h2 class="colorlib-heading animate-box">My Skills</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
                                <p>I learnt about Basic Programming (VB.Net) since I'm a fresher. And after gradulated, I'm started to learn Web Programming with .NET framework and .NET core until now.</p>
                            </div>
                            <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                                <div class="services color-1">
                                    <h3>ASP.Net MVC (VB.Net) Back-End Programming</h3>
                                    <div>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span>| Able to develop .NET Framework (VB.Net ASP.Net MVC) web Back-End and communicate to database. (Both SQL Server and MySQL).</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                                <div class="services color-2">
                                    <h3>Database (Microsoft SQL Server and MySQL)</h3>
                                    <div>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span>| Able to Basic SQL Query command (Create/Delete Table and Insert/Update/Delete records from table) great. And Alter table, Store procedured and join table basically.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                                <div class="services color-3">
                                    <h3>Back-End Web Developer (C#, ASP.Net MVC/MVC Core)</h3>
                                    <div>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span>| Able to develop .NET/.NET Core Framework (C# ASP.Net MVC) web Back-End and communicate to database.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                                <div class="services color-4">
                                    <h3>Front-End Web Developer (HTML, CSS, Javascript/JQuery, AJAX)</h3>
                                    <div>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span>| Able to design Web User Interface under HTML and CSS (Bootstrap Framework) better. And use JQuery and AJAX function basically.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                                <div class="services color-5">
                                    <h4>Microsoft Office (Word/Excel/Powerpoint)</h4>
                                    <div>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span>| Able to use Microsoft Office Word/Excel/Powerpoint basically.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                                <div class="services color-6">
                                    <h4>Another Computer/Programming Skill (IT Support, Python, Angular or C++ Programming etc.)</h4>
                                    <div>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span>| I ever use them. But It's a long times ago. So that I need to learn more harder.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="colorlib-experience" data-section="internship">
                    <div class="colorlib-narrow-content">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
                                <span class="heading-meta">Preparing to find Job</span>
                                <h2 class="colorlib-heading">Internship Experience</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="timeline-centered">
                                    <article class="timeline-entry animate-box" data-animate-effect="fadeInLeft">
                                        <div class="timeline-entry-inner">
                                            <div class="timeline-icon color-3">
                                            </div>
                                            <div class="timeline-label">
                                                <h2>Programmer <span>Feb 2019 - April 2019</span></h2>
                                                <h4><a href="" class="wrap">Company, Bangkok - Thailand</a></h4>
                                                <p>Learning programming and Dot-PIN/Laser Marking Machine. Including working, culture and lifestyle at there.</p>
                                            </div>
                                        </div>
                                    </article>


                                    <article class="timeline-entry animate-box" data-animate-effect="fadeInRight">
                                        <div class="timeline-entry-inner">
                                            <div class="timeline-icon color-4">
                                            </div>
                                            <div class="timeline-label">
                                                <h2>Programmer, IT Support <span>Nov 2018 - Feb 2019</span></h2>
                                                <h4><a href="" class="wrap">Company, Bangkok - Thailand</a></h4>
                                                <p>Learning programming and Dot-PIN/Laser Marking Machine. Including developing Service Booking system to save product mainteniance detail.</p>
                                            </div>
                                        </div>
                                    </article>

                                    <article class="timeline-entry begin animate-box" data-animate-effect="fadeInBottom">
                                        <div class="timeline-entry-inner">
                                            <div class="timeline-icon color-none">
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="colorlib-blog" data-section="portfolio">
                    <div class="colorlib-narrow-content">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
                                <span class="heading-meta">My Portfolio</span>
                                <h2 class="colorlib-heading">Portfolio</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                                <div class="blog-entry">
                                    <a class="blog-img"><img src="~/Content/images/work-1.jpg" class="img-responsive"></a>
                                    <div class="desc">
                                        <span><small>VB.Net Desktop App </small></span>
                                        <h3>Service Booking Manager for Marking Machine Service</h3>
                                        <p>This software is developed under VB.Net programming language and save database data MS SQL Server 2014. This software is VB.Net Windows Form Application and It worked when you connect in office network (You cannot be access from outside network). And next, these all features which included in this software/system.</p>
                                        <p>Software Feature</p>
                                        <p>1) View all Service Booking and Status (No Login Authentication needed)</p>
                                        <p>2) Manage all Service Booking and Status. And report system issue to Admin. (Login Authentication required)</p>
                                        <p>3) Manage all Service Booking and Status. And control whole in system (System Maintenance and view activity log or force Sign out with every users. Except Admin only). (Admin Authentication required)</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 animate-box" data-animate-effect="fadeInRight">
                                <div class="blog-entry">
                                    <a class="blog-img"><img src="~/Content/images/work-2.jpg" class="img-responsive"></a>
                                    <div class="desc">
                                        <span><small>My first web project </small></span>
                                        <h3>Chinnathorn's MyPort Website</h3>
                                        <p>Current site which you opened is my online portfolio. It's work under C# ASP.Net MVC Programming and Web User Interface worked under Bootstrap and JQuery animation.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="colorlib-services" data-section="favorite">
                    <div class="colorlib-narrow-content">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
                                <span class="heading-meta">Relax Time</span>
                                <h2 class="colorlib-heading">My Hobbies and Favorites</h2>
                            </div>
                        </div>
                        <div class="row row-pt-md">
                            <div class="col-md-12 text-center animate-box">
                                <div class="services color-5">
                                    <span class="icon">
                                        <i class="fas fa-play-circle fa-3x"></i>
                                    </span>
                                    <div class="desc">
                                        <h3>Hobbies</h3>
                                        <p>Ride a bike, Practice Programming, Listening Music.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 text-center animate-box">
                                <div class="services color-3">
                                    <span class="icon">
                                        <i class="fas fa-star fa-3x"></i>
                                    </span>
                                    <div class="desc">
                                        <h3>Favorites</h3>
                                        <p>TV Show : Hollywood Game Night Thailand, Number 1 , Youtube Channel (Bie The Ska, HardCore Travel), etc.</p>
                                        <p>Movie : Avengers, Johnney English, Bad Genius.</p>
                                        <p>Music : Bodyslam, Potato, Bird Thongchai, Maroon5, The Chainsmokers, BNK48, etc.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="colorlib-contact" data-section="contact">
                    <div class="colorlib-narrow-content">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
                                <span class="heading-meta">Get in Touch</span>
                                <h2 class="colorlib-heading">Contact</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="row">
                                    <div class="col-md-12 text-center animate-box">
                                        <div class="services color-3">
                                            <div class="text-left desc">
                                                <h3>Contact Info</h3>
                                                <p><i class="fas fa-envelope"></i> <a href="mailto:mail.receive@outlook.com?subject"> mail.receive@outlook.com</a></p>
                                                <p><i class="fas fa-location-arrow"></i> 123/45, Kwaeng Bangbon, Khet Bangbon, Bangkok, Thailand 10150</p>
                                                <p><i class="fas fa-phone"></i><a href="tel:+66659578993"> +66 81 234 5678</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1">&nbsp;</div>
                            <div class="col-md-6 col-md-push-1">
                                <div class="row">
                                    <div class="col-md-10 col-md-offset-1 col-md-pull-1 animate-box" data-animate-effect="fadeInRight">
                                        <div class="text-center mt-5" id="WaitIco">
                                            <div class="loader"></div>
                                            <p>Sending message</p>
                                        </div>
                                        <form id="contact">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Name" id="Name">
                                            </div>
                                            <div class="form-group">
                                                <input type="email" class="form-control" placeholder="Email" id="Email">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Subject" id="Subject">
                                            </div>
                                            <div class="form-group">
                                                <textarea id="Message" class="form-control" placeholder="Message"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <a class="btn btn-primary btn-send-message" id="OK">Send Message</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <footer class="colorlib-credit">
                    <hr>
                    <p class="text-center">
                        <b>
                            &copy;
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script>, Chinnathorn Promnaruritr. All rights reserved.
                        </b>
                    </p>
                    <p class="text-center">
                        <b>
                            This template is made by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        </b>
                    </p>
                    <p class="text-center">
                        <b>
                            This project is agree to view source code. For view website work. Please click <a href="https://portfolio.chinnathornp.com" target="_blank">here</a>
                        </b>
                    </p>
                </footer>
            </div><!-- end:colorlib-main -->
        </div><!-- end:container-wrap -->
    </div><!-- end:colorlib-page -->

    <div class="modal fade" id="changelangModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Please choose Language</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mb-4">
                    <div class="row">
                        <div class="col-md-5 text-center">
                            <a id="changeEN" href="" data-dismiss="modal" aria-label="Close" data-toggle="tooltip" data-placement="bottom" title="Stay in ENGLISH"><img src="https://lipis.github.io/flag-icon-css/flags/4x3/us.svg" width="100" /></a>
                        </div>
                        <div class="col-md-2">&nbsp;</div>
                        <div class="col-md-5 text-center">
                            <a id="changeTH" href="/home/th" data-toggle="tooltip" data-placement="bottom" title="Change to THAI"><img src="https://lipis.github.io/flag-icon-css/flags/4x3/th.svg" width="100" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="https://cdn.jsdelivr.net/npm/jquery.easing@1.4.1/jquery.easing.min.js"></script>
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/combine/npm/bootstrap@4.5.0,npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/js/all.min.js"></script>
    <!-- Waypoints -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <!-- Flexslider -->
    <script src="https://cdn.jsdelivr.net/npm/flexslider@2.7.2/jquery.flexslider.min.js"></script>
    <!-- Owl carousel -->
    <script src="https://cdn.jsdelivr.net/npm/owl.carousel@2.3.4/dist/owl.carousel.min.js"></script>
    <!-- Counters -->
    <script src="https://cdn.jsdelivr.net/npm/jquery-countto@1.2.0/jquery.countTo.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.15.3/dist/sweetalert2.all.min.js"></script>


    <!-- MAIN JS -->
    <script src="~/Content/js/main.js"></script>
    <script src="~/Content/js/QuickSend.js"></script>

    <script>
        $(document).ready(function () {
            InspectLock();
            $('#WaitIco').hide();
            $('body').fadeIn('fast');
            $('#changeLang').tooltip();
            $('#changelang').click(function () {
                $('#changelangModal').modal('show')
            })
            $('#changeTH').click(function () {
                $('body').fadeOut(250)
            })
            $('.wrap').click(function () {
                $('body').fadeOut(250)
            })
            $('#OK').click(function () {
                $('input').hide();
                $('textarea').hide();
                $('#OK').hide();
                getMessage('en');
            })
        })
    </script>
</body>
</html>

